<div class="video-watch">
  @if (!showEndScreen()) {
    <div class="video-frame">
      <youtube-player
        [videoId]="videoId()"
        [playerVars]="playerVars"
        [width]="640"
        [height]="360"
        (stateChange)="onStateChange($event)"
      ></youtube-player>
    </div>

    <div class="video-panel">
      <div class="channel-row">
        <span class="channel-row__avatar">🐷</span>
        <span class="channel-row__name">{{ channelName() }}</span>
        <button
          type="button"
          class="subscribe-button"
          [class.subscribe-button--active]="isSubscribed()"
          (click)="onToggleSubscribe()"
        >
          {{ isSubscribed() ? '✅ とうろくずみ' : '🔔 チャンネルとうろく' }}
        </button>
      </div>

      <button
        type="button"
        class="like-button"
        [class.like-button--active]="isLiked()"
        (click)="onToggleLike()"
      >
        {{ isLiked() ? '❤️' : '🤍' }} いいね {{ likeCount() }}
      </button>

      <div class="comments">
        <h2 class="comments__title">コメント</h2>

        <div class="comments__form">
          <input
            class="comments__input"
            type="text"
            placeholder="コメントをかいてみよう"
            [value]="newComment()"
            (input)="onCommentInput($event)"
          />
          <button type="button" class="comments__submit" (click)="onAddComment()">
            そうしん
          </button>
        </div>

        <ul class="comments__list">
          @for (comment of comments(); track $index) {
            <li class="comments__item">
              <span class="comments__author">{{ comment.author }}</span>
              <span class="comments__text">{{ comment.text }}</span>
            </li>
          }
        </ul>
      </div>
    </div>
  } @else {
    <div class="end-screen">
      <button type="button" class="end-screen__button" (click)="onReplay()">
        🔄 もういっかい みる
      </button>
      <button type="button" class="end-screen__button" (click)="onBackToList()">
        🏠 ほかの いちらんに もどる
      </button>
    </div>
  }
</div>
